@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}

:root {
  background-color: rgba(0, 0, 0, 0) !important;
}

:root:after {
  background-color: rgba(0, 0, 0, 0) !important;
}